/*
Mestrado em Engenharia Informática e Tecnologia Web
Visualização de Informação
Projeto Final
Grupo: Claudia Pires (1303334) / Valter Bastos (2302612)
Ficheiro CSS
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
font-size: 50px;
font-weight: bold;
margin-top: 0px;
}

h2 {
font-size: 25px;
font-weight: bold;
margin-bottom: 2px;
}

/* Header & Menu */
.title-container {
  background-color: #333;
  padding: 10px;
  text-align: center;
  display: flex;
  color: white;
}

.title-content {
	margin: auto;
	width: 100%;
	text-align: center;
	margin-left: -150px;	
}

.menu {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
	text-align: center;
}

.menu-list li {
    padding: 10px;
	display: inline;
}

.menu-list li a {
    text-decoration: none;
    color: white;
}

.menu-list li a:hover {
	text-decoration: underline;
}

/* Page content */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

.chart-area {
   height: 100%;
  /* background-color: #DBE9FA;*/
   border-bottom: dashed black;
}

.chart_desc{
	width: 80%;
	border: 1px solid #cccccc;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: small; 
	text-align:center;
}

.details {
   height: 100%;
   background-color: #F8F8F8;
   margin-top: 50px;
   margin-bottom: 50px;
   border-bottom: dashed black;
}

.methodology {
   height: 100%;
   background-color: #F8F8F8;
   margin-top: 0px;
   margin-bottom: 0px;
   border-bottom: dashed black;
}

.intro {
   height: 100%;
   background-color: #F8F8F8;
   margin-top: 50px;
}


.WorldMapChart_div{
	/*border: dashed black;*/
}

.LineChart_div {
	/*border: dashed black;*/
}

