/*
Mestrado em Engenharia Informática e Tecnologia Web
Visualização de Informação
Projeto Final
Grupo: Claudia Pires (1303334) / Valter Bastos (2302612)
Ficheiro CSS
*/

svg {
    font-family: Sans-Serif, Arial;
}


.legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
	margin-bottom: 0px;
	font-size: 16px;
}

.legend-item {
    display: flex;
    align-items: center;
	margin-top: 70px;
    margin-right: 5px;
}

.legend-item span {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
}


/* Line chart */
.lines {
  stroke-width: 2;
  fill: none;
}

.axis {
  font-size: 14px;
}

.axis path {
  stroke: black;
  stroke-width: 2;
}

.text {
  font-size: 20px;
}

.title-text {
  font-size: 20px;
  background-color: black;
}

/*Map*/
path {
  stroke: #fff;
  stroke-width: 0.5;
  transition: stroke 0.3s, opacity 0.3s;
}

.tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  opacity: 0;
}


.Play_button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px;
    height: 40px;
    margin: 0 auto; /* Center horizontally */
    display: flex;
	justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.Play_button:hover {
        background-color: #45a049;
}

.year-textbox {
        font-size: 18px;
		font-weight: bold;
}